.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    grid-template-areas: 
            "header header header"
            "menu main main"
            "menu main main";
    place-content: center;
}
.item {
    font-size: 3rem;
    border: 2px solid blue;
}
.item-1 {
    grid-area: header;
    border: 5px solid green;
    background-color: yellow;
}
.item-2 {
    grid-area: main;
    border: 5px solid blue;
    background-color: lightblue;

}
.item-3 {
    grid-area: menu;
    border: 5px solid red;
    background-color: rosybrown;
}

