.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
}
.item {
    font-size: 3rem;
    border: 2px solid blue;
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    border: 5px solid green;
    background-color: yellow;
}
.item-2 {
    border: 5px solid blue;
    background-color: lightblue;
    grid-row: 2 / 4;
}
.item-3 {
    grid-area: 2 / 2 / 4 /4;
    border: 5px solid red;
    background-color: rosybrown;
}

